[package]
name = "avida-test-utils"
description = "Useful library for test suites for DApp interactions"
edition = "2021"
version = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }

[features]
sdjwt = []

[dependencies]
# sd-jwt verifier contract
avida-sdjwt-verifier = { path = "../../contracts/sdjwt-verifier/", features = ["library"]}
avida-common = { path = "../../packages/common/"}
cosmwasm-schema = { workspace = true }
cosmwasm-std = { workspace = true }
cw-storage-plus = { workspace = true }
cw-multi-test = {version = "3", features = ["stargate", "cosmwasm_3_0"]}
cw-utils = { workspace = true }

serde = { workspace = true }
serde_json = { workspace = true }

josekit = "0.8.6"
sd-jwt-rs = "0.7.0"
jsonwebtoken = { version="9.3.0", features=["use_pem"]}
