[package]
name = "avida-test-utils"
description = "Useful library for test suites for DApp interactions"
edition = "2021"
version = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }

[features]
sdjwt = []

[dependencies]
# sd-jwt verifier contract
avida-sdjwt-verifier = { path = "../../contracts/sdjwt-verifier/", features = ["library"]}
avida-common = { path = "../../packages/common/"}
cosmwasm-schema = { workspace = true }
cosmwasm-std = { workspace = true }
cw-storage-plus = { workspace = true }
cw-utils = { workspace = true }
cw-multi-test = "0.20"
sylvia = { workspace = true,  features = ["mt"] }
sylvia-derive = { workspace = true }

serde = { workspace = true }
serde-json-wasm = {workspace = true}
serde_json = "1.0"

josekit = "0.8.6"
sd-jwt-rs = "0.7.0"
jsonwebtoken = { version="9.3.0", features=["use_pem"]}
