name: Test, Lint and Build Checker

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  CARGO_TERM_COLOR: always

jobs:
  contract-multi-test:
    name: Contract Multitests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Run contract unit tests
        run: cargo test
        env:
          RUST_BACKTRACE: 1

  build-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Compile WASM contract
        run: make build

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy -- -D warnings

      - name: Generate Schemas
        run: make schemas

      - name: Show Schema changes
        run: git status --porcelain

      - name: Schema Changes
        # fails if any changes not committed
        run: test -z "$(git status --porcelain)"
